.construction .head {
  background-color: yellow;
  color: red;
  text-align: center;
}
 input[type="text"] {
  outline: none;
  border: none;
  background: none;
  text-align: center;
}
.main-button{
  border: none;
    background: none;
    margin-left: -35%;

}